@import 'bootstrap/dist/css/bootstrap.min.css';

html,
body {
    padding: 2rem;
    margin: 0;
    /*background-color: black;*/
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: inherit;
}

* {
    box-sizing: border-box;
}

p{
    margin-bottom: 0;
}

.nav-link{
    font-size: 1.2rem!important;
}

.navbar-brand{
    font-size: 1.5rem!important;
}
